.postSk{margin-right:12px;margin-bottom:30px;-webkit-animation:skeleton 1s ease infinite alternate;animation:skeleton 1s ease infinite alternate}@-webkit-keyframes skeleton{to{opacity:.5}}@keyframes skeleton{to{opacity:.5}}.postSkImg{background-color:#999898;height:153px;border-radius:10px}.postSkInfo{height:30px;margin-right:25%}.postSkInfo,.postSkInfoSm{background-color:#999898;margin-top:10px;border-radius:10px}.postSkInfoSm{height:25px;margin-right:50%}
/*# sourceMappingURL=7.45d1548d.chunk.css.map */